# Compiler
--languagemode 6
--swiftversion 6.2

# Options
--exclude build
--exclude derivedData
--ifdef no-indent
--indent 4

# Rules
--disable blankLinesAtStartOfScope
--disable hoistPatternLet
--disable redundantType
--disable swiftTestingTestCaseNames
--disable unusedArguments
--disable wrapArguments
--disable wrapPropertyBodies
